@import "reset.less";
@import "util.less";

#root {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  //background: linear-gradient(55deg, #054C8E, #052357, #04194E);
}

.operation-box {
  width: 30%;
  height: 65%;
  border: 1px solid #0874B5;
  //background: linear-gradient(135deg, #04194E, #052357, #054C8E);
  .title {
    height: 40px;
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    padding: 0 10px;
    background: linear-gradient(#052357, #3262A0);
    span {
      display: inline-block;
      height: 40px;
      line-height: 40px;
    }
    .add, .min {
      width: 40px;
      font-size: 20px;
      font-weight: 800;
      text-align: center;
      margin-left: 20px;
    }
  }
  .radio-row{
    width: 100%;
    padding: 3px 0;
    .row-item{
      height: 40px;
      width: 100%;
      line-height: 40px;
      padding: 0 10px;
    }
  }
}

.chart-box {
  width: 70%;
  height: 65%;
  border: 1px solid #0874B5;
  #myChart{
    width: 100%;
    height: 100%;
  }
}

.fault-info {
  width: 50%;
  height: 35%;
  border: 1px solid;
}

.analysis {
  width: 50%;
  height: 35%;
  border: 1px solid #0874B5;
}
body .ant-radio-wrapper{
  white-space: normal;
  .ant-radio{
    top: 12px;
    left: 10px;
    vertical-align: top;
  }
  span.ant-radio + *{
    display: inline-block;
    width: calc(100% - 20px);
  }
}